<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.esiea.labadi.etienne.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TRaVel TRiP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity">
            <intent-filter>
                <action android:name="org.esiea.labadi.etienne.myapplication.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".country_activity">
            <intent-filter>
                <action android:name="org.esiea.labadi.etienne.myapplication.country_activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".inscription">
            <intent-filter>
                <action android:name="org.esiea.labadi.etienne.myapplication.inscription" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".GetBiersServices"
            android:exported="false" />

        <activity android:name=".about" />
        <activity android:name=".setting"/>
        <receiver
            android:name=".country_activity$BierUpdate"
            android:enabled="true"
            android:exported="false" >
        </receiver>
    </application>

</manifest>